.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 20px;
  border: 3px double darkgray;
  border-radius: 10px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
  .title-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .category-title {
        font-size: 22px;
        font-weight: bold;
      }

      .category-title:hover {
        cursor: pointer;
      }

      .show-more {
        padding: 7px;
        color: darkblue
      }

      // .show-more:hover {
      //   cursor: pointer;
      //   border: 2px solid gray;
      //   color : black;
      //   font-weight: bold;
      //   border-radius: 7px;
      //   padding: 3px;
      //   margin-bottom: 5px;
      // }
  }
}
